[Unit]
Description=Software Radio Systems's LTE UE implementation

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/isrue /etc/isrran/ue.conf
RestartSec=2

[Install]
WantedBy=multi-user.target
